<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="University of Washington Competitive Programming Club RSO">
    <meta name="keywords"
        content="University of Washington Competitive Programming Club, UW, Olympiad, Registered Student Organization, RSO, Huskylink, Competition, Contest, Coding, Education, ICPC, Sport Programming">
    <meta name="author" content="UW Competitive Programming Club">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav id="nav">
            <a href="/">HOME</a>
            <a href="/join">JOIN</a>
            <a href="/icpc">ICPC</a>
            <a href="/resources">RESOURCES</a>
        </nav>
    </header>
    <main>
        <h1>{{ heading }}</h1>
        {{ content | safe }}
    </main>
</body>
<footer id="footer">
    <a rel="noopener noreferrer" href="https://huskylink.washington.edu/organization/programming">Huskylink</a>
    <a rel="noopener noreferrer" href="https://discord.gg/KkyKMrfs">Discord</a>
    <a href="mailto:compprog@uw.edu">Email: compprog@uw.edu</a>
    <a href="mailto:junxingg@uw.edu">Leader: junxingg@uw.edu</a>
    <br><br>
    <small><a rel="noopener noreferrer" href="https://github.com/manforowicz/uwcp-site">Site by Marcin Anforowicz</a></small>
</footer>

</html>