<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="University of Washington Competitive Programming Club RSO">
    <meta name="keywords"
        content="University of Washington Competitive Programming Club, UW, Olympiad, Registered Student Organization, RSO, Huskylink, Competition, Contest, Coding, Education, ICPC, Sport Programming">
    <meta name="author" content="UW Competitive Programming Club">
    <title>{{ title }} - UW Competitive Programming Club</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/prism.css">
</head>

<body>
    <header>
        <nav id="navbar">
            <a {% if "/"==page.url -%}class="active" {%- endif %} href="/">HOME</a>
            <a {% if "/icpc/"==page.url -%}class="active" {%- endif %} href="/icpc/">ICPC</a>
            <a {% if "/resources/"==page.url -%}class="active" {%- endif %} href="/resources/">RESOURCES</a>
            <a {% if "/posts/"==page.url -%}class="active" {%- endif %} href="/posts/">POSTS</a>
        </nav>
    </header>
    <main>
        <h1>{{ title }}</h1>
        {{ content }}
    </main>
    <footer id="footer">
        <a rel="noopener noreferrer" href="https://huskylink.washington.edu/organization/programming">Huskylink</a>
        <a rel="noopener noreferrer" href="{{ data.discord_link }}">Discord</a>
        <a rel="noopener noreferrer" href="https://github.com/manforowicz/uwcp-site">Edit website</a>
    </footer>
</body>


</html>